<nav class="header navbar navbar-expand-lg">
 <div class="banner navbar-brand">
    <h5>Gaurav Bhatt</h5>
    <h6>Front End Developer</h6>
  </div> 
  <button
    class="navbar-toggler"
    type="button"
    (click)="navBarCollapsed = !navBarCollapsed"
  >
    <i class="fa fa-bars"></i>
  </button>
  <div
    class="collapse navbar-collapse nav-links"
    [ngClass]="{ collapse: navBarCollapsed, 'navbar-collapse': true }"
  >
    <div class="navbar-nav">
      <a
        class="nav-item nav-link "
        routerLink="home"
        [routerLinkActive]="['active']"
        (click)= "navBarCollapsed = true"
      >
        Home
        <span class="sr-only">(current)</span>
      </a>

      <a
        class="nav-item nav-link "
        routerLink="projects"
        [routerLinkActive]="['active']"
        (click)= "navBarCollapsed = true"
      >
        Projects
        <span class="sr-only">(current)</span>
      </a>
      <a
        class="nav-item nav-link "
        routerLink="about"
        [routerLinkActive]="['active']"
        (click)= "navBarCollapsed = true"
      >
        About
        <span class="sr-only">(current)</span>
      </a>
      <a
      class="nav-item nav-link "
      routerLink="contact"
      [routerLinkActive]="['active']"
      (click)= "navBarCollapsed = true"
    >
      Contact
      <span class="sr-only">(current)</span>
    </a>
      <ng-container *ngIf="loggedInUserData; else LoginButtonBlock">
        <a
        class="nav-item nav-link small-device-text"
        (click)="logoutUser()"
        [routerLinkActive]="['active']"
        (click)= "navBarCollapsed = true"
        >Logout</a
      >
        <div class="logged-in-user" ngbDropdown #myDrop="ngbDropdown">
          <img
            src="{{ loggedInUserData?.photoURL }}"
            ngbDropdownToggle
            (onmouseover)="$event.stopPropagation(); myDrop.open()"
          />
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div class="user-name">
              <h5>Welcome</h5>
              <h4>
                {{ loggedInUserData?.displayName || 'Guest' }}
              </h4>
            </div>

            <button ngbDropdownItem (click)="logoutUser()">Logout</button>
          </div>
        </div>

      </ng-container>
      <ng-template #LoginButtonBlock>
        <a
          class="nav-item nav-link "
          (click)="navigateTo('login')"
          [routerLinkActive]="['active']"
          >Login</a
        >
      </ng-template>
    </div>
  </div>
</nav>
