.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5rem;
  @media screen and (max-width:768px){
    padding: 1.2rem;
  }
  .about-me-block {
    background: #343535;
    padding: 1rem;
    border-radius: 10px;
    h4 {
      color: #dacccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background-color: #79b879;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1.3rem;
          color: #ffffff;
        }
      }
    }
    .about-me-desc {
      h6 {
        color: #d4d4d4;
        word-spacing: 0.3rem;
        line-height: 1.7;
      }
    }
    .skills{
      h6 {
        color: #d4d4d4;
        word-spacing: 0.3rem;
        line-height: 1.7;
      }
    }
  }
  .animated-divs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .spinner-section {
      transform-style: preserve-3d;
      animation: spin 10s linear infinite;
      // transform-origin: 116px 200px 116px;
      height: 100%;
      div {
        position: absolute;
        border-style: solid;
        border-width: 200px 0 200px 346px;
  
        transform-origin: 0 0;
  
        &:first-child {
          border-color: transparent transparent transparent rgba(50, 50, 50, 0.6);
  
          transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
          &:after {
            position: absolute;
            content: url('../../assets/angular-logo.png');
          }
        }
        &:nth-child(2) {
          border-color: transparent transparent transparent rgba(50, 50, 50, 0.6);
  
          transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg)
            translateY(-400px);
          &:after {
            position: absolute;
            content: url('../../assets/css-logo.png');
          }
        }
        &:nth-child(3) {
          border-color: transparent transparent transparent rgba(50, 50, 50, 0.9);
  
          transform: rotateX(60deg) rotateY(19.5deg);
          &:after {
            position: absolute;
            content: url('../../assets/html5-logo.png');
          }
        }
        &:nth-child(4) {
          border-color: transparent transparent transparent rgba(50, 50, 50, 0.8);
          transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px)
            translateY(-200px) translateZ(326px);
          &:after {
            position: absolute;
            content: url('../../assets/js-logo.png');
          }
        }
        &:after {
          position: absolute;
          color: #fff;
          left: -311px;
          top: -69px;
          text-align: center;
          opacity: 0.6;
        }
      }
      @keyframes spin {
        from {
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        to {
          transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        }
      }
    }
  }
  
}
