<div class="about row">
  <div class="about-me-block col-md-6 col-12">
    <h4>About Me</h4>
    <div class="about-me-desc">
      <h6>
        I'm web designer & front-end developer with 2 years of professional
        experience. I'm interested in designing web, mobile & tablet interfaces.
        I also have skills in other fields like hybrid mobile app and web
        development. Currently I'm working for Creware Technology Pvt. Ltd.
        “start-up” as a Web Developer.
      </h6>
    </div>
  </div>
  <div class="col-md-6 col-12 animated-divs">
    <div class="spinner-section">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    
  </div>
</div>
