<div class="chat-page" >
    <ng-container *ngIf="!loadingMsgs; else LoadingMessageBlock">
        <div class="messages-list">
            <div class="chat-msg-box" *ngFor="let item of messageList;" [class]="item?.sender === 'user' ? 'own-msg' : 'admin-msg'">
                {{item.text}}
    </div>
        </div>
       
    </ng-container>
    <ng-template #LoadingMessageBlock>
        <div class="loading-msg">
            <div class="loader">

            </div>
            <h5>Loading Messages</h5>
        </div>
    </ng-template>
   

    <div class="message-box">
        <textarea placeholder="Enter message..." [(ngModel)]="chatbox">

        </textarea>
        <a class="send-btn" (click)="sendMessage()"><i class="fa {{ disableSendButton ? 'fa-spinner fa-spin' : 'fa-paper-plane'}} "></i></a>
    </div>
  
</div>