<div class="chat-page" >
    <ng-container *ngIf="!loadingMsgs; else LoadingMessageBlock">
        <div class="messages-list" #ChatElement>
            <div class="messages-row" *ngFor="let item of messageList;">
             <p *ngIf="item?.dateSepration"> {{item?.dateSepration | dateTimeFormat: 'checkDayWise'}}</p>
                <div class="chat-msg-box"  [class]="item?.sender === 'user' ? 'own-msg' : 'admin-msg'">
                    {{item.text}}
                    <p *ngIf="item?.dateTime"> {{item?.dateTime | dateTimeFormat}}</p>
                 </div>
            </div>
        </div>
       
    </ng-container>
    <ng-template #LoadingMessageBlock>
        <div class="loading-msg">
            <div class="loader">

            </div>
            <h5>Loading Messages</h5>
        </div>
    </ng-template>
   

    <div class="message-box">
        <textarea placeholder="Enter message..." [(ngModel)]="chatbox">

        </textarea>
        <a class="send-btn" (click)="sendMessage()"><i class="fa {{ disableSendButton ? 'fa-spinner fa-spin' : 'fa-paper-plane'}} "></i></a>
    </div>
  
</div>