.chat-page {
    height: 85%;
    background-color: #cdcdcd;
    width: 25rem;
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    overflow-y: auto;
    .loading-msg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height: 100%;
        .loader {
            border: .5rem solid #f3f3f3;
            border-radius: 50%;
            border-top: .5rem solid #3498db;
            border-bottom: .5rem solid #3498db;
            width: 3rem;
            height: 3rem;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
          }
        h5 {
            margin: 1rem 0;
        }
          /* Safari */
          @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
          }
          
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }
    }
    .messages-list{
        height: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        .messages-row{
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                position: sticky;
                top: 0;
                
            }
        .chat-msg-box{
            margin: .5rem;
            min-height: 3rem;
            padding: .5rem;
            display: flex;
            border-radius: 10px;
            overflow-wrap: anywhere;
            flex-flow: column;
            p{
                margin: 0;
                font-size: .7rem;
            }
            &.own-msg {
                align-items: flex-end;
                border: 2px solid #c47d61;
            }
            &.admin-msg{
                align-items: flex-start;
                border: 2px solid #65a197;
            }
    
        }
    }
    }
   
    .message-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: .4rem;
        textarea {
            width: 98%;
            resize: none;
            border-radius: 5px;
            background: #dbd4d4;
            border-color: #adaaaa;
        }
        .send-btn{
            cursor: pointer;
            position: absolute;
            right: 10px;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: #727171;
            i {
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: #ffffff;
                &.fa-spinner {
                    pointer-events:  none;
                }
                
            }
        }
    }
}