<div class="tabs-window">
  <ul
    ngbNav
    #nav="ngbNav"
    [activeId]="0"
    (navChange)="onNavChange($event)"
    class="nav-tabs"
  >
    <li [ngbNavItem]="i" *ngFor="let tab of tabsList; let i = index">
      <a ngbNavLink>{{ tab?.project_name }} <i class="fa fa-times"></i></a>
      <ng-template ngbNavContent>
        <iframe [src]="getSanitizeURL(tab?.url)"></iframe>
      </ng-template>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="closeModal()"><i class="fa fa-times"></i></a>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2">
    <!-- {{ nav.project_name }} -->
  </div>
</div>
