.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    .card {
        width: 50%;
        background-color: #4f4f4f;
        border-radius: 10px;
        .card-header{
            h5{
                margin: 0;
                color: #fff;

            }
        }
        .card-body {
            .has-error {
                border: 2px solid red;
            }
        }
        .card-footer{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .btn {
                border: 1px solid #cdcdcd;
                color: #fff;
                background: transparent;
            }
            
        }
    }
}