<div class="contact">
  <ng-container *ngIf="response?.isSubmitted">
    <div [class]=" response.isSuccess ? 'success-popover popover-msg-div' : 'error-popover popover-msg-div'">
      <p>{{response?.message}}</p> 
     </div>
  </ng-container>
    <div class="card ">
        <form [formGroup]="contactForm" (ngSubmit)="saveContactForm()">
        <div class="card-header">
          <h5 class="card-title">CONTACT</h5>
        </div>
       
        <div class="card-body">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{'has-error':formSubmitted && contactForm.controls.name.hasError('required')}">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'has-error':formSubmitted &&( contactForm.controls.email.hasError('required') || contactForm.controls.email?.errors?.email)}">
                  </div>
                  <div class="form-group">
                    <textarea placeholder="Message" class="form-control" formControlName="description" [ngClass]="{'has-error':formSubmitted && contactForm.controls.description.hasError('required')}"></textarea>
                </div>
        </div>
        <div class="card-footer">
        <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </form>
   
      </div>   
      <div class="connect-with mt-2">
          <a href="https://github.com/garuav" target="#" ><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/garuav-bhatt-40ab53ab/" target="#"><i class="fa fa-linkedin"></i></a>
      </div> 
</div>