.main-home-container {
  // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-image: url('../assets/background.png');
  height: 100%;
  background-size: cover;
  // text-align: center;
  // display: flex;
  // app-sidebar {
  //   flex-direction: column;
  //   flex-basis: 20%;
  // }
  .routed-page {
    // flex-basis: 80%;
    // // flex-basis: 80%;
    // position: relative;
    // background: #dad9d9;
    overflow-y: auto;
    height: 100%;
  }
  .chat-page-icon{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(130,133,218,1) 100%);
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    i {
      color: #ffffff;
    }
  }
}

