<!-- <ng-container *ngIf="isPageLoading; else MainPageBlock">
  <div class="loader-div p-0 ">
    <div class = "centered">
      <div class = "blob-1"></div>
      <div class = "blob-2"></div>
    </div>
  </div>
</ng-container> -->
<!-- <ng-template #MainPageBlock> -->
  <div class="container-fluid p-0 main-home-container">
    <app-header (headerOutputEvents)="headerOutputEvents($event)"></app-header>
    <div class="routed-page" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
   
    <ng-container *ngIf="showChatComponent">
      <app-chat-page></app-chat-page>
    </ng-container>
    <div class="chat-page-icon" (click)="chatPage()">
      <i class="fa fa-comment"></i>
    </div>
  </div>
 
<!-- </ng-template> -->
