.main-home-container {
  // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-image: url('../assets/black-bg.jpg');
  height: 100%;
  background-size: cover;
  // text-align: center;
  // display: flex;
  // app-sidebar {
  //   flex-direction: column;
  //   flex-basis: 20%;
  // }
  .routed-page {
    // flex-basis: 80%;
    // // flex-basis: 80%;
    // position: relative;
    // background: #dad9d9;
    overflow-y: auto;
    height: 100%;
  }
  .intro-div{
    min-height: 2rem;
    background: #ffffff;
    position: absolute;
    right: 2rem;
    bottom: 5rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    i {
      place-self: flex-end;
    }
    h6{
      text-align: center;
    }
    .arrow {
      // border-left: 21px solid transparent;
      // border-top: 20px solid rgba(0, 0, 0, 0.2);
      bottom: -1.5rem;
      position: absolute;
      right: 1rem;
    
      // &::before {
      //   border-left: 23px solid transparent;
      //   border-top: 23px solid #a7a7a7;
      //   bottom: 2px;
      //   content: "";
      //   position: absolute;
      //   right: 5px;
      // }
      &::after {
        border-left: 1.3rem solid transparent;
        border-top: 1.3rem solid #efefef;
        bottom: 0.2rem;
        content: "";
        position: absolute;
        right: 0;
      }
    }
  }
  .chat-page-icon{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(130,133,218,1) 100%);
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    i {
      color: #ffffff;
    }
  }
}

