.sidebar {
  //   width: 10%;
  height: 100%;
  background: #0e1e2f;
  //   flex: 1;
  .user-data {
    i {
      color: #ffffff;
      font-size: 6rem;
    }
    h5,
    h6 {
      font-family: 'Nunito-Black';
      color: #ffffff;
    }
  }
  .pages-name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    padding: 2rem;
    a {
      text-decoration: none;
      color: #ffffff;
      margin: 0.2rem 0;
      i {
        margin-right: 0.3rem;
      }
      &.active {
        color: #9bd097f0;
      }
      &:hover {
      }
    }
  }
}
