<div class="card project-card " (click)="openTab(projectData)">
  <div class="card-header">
    <h5 class="card-title">{{ projectData.project_name }}</h5>
  </div>
  <img src="{{ projectData.images }}" class="card-img" alt="" />
  <div class="card-body">
    <p class="card-text" [innerHtml]="projectData.project_description"></p>
    <h6 class="skills">{{ projectData.language_framework }}</h6>
  </div>
  <div class="card-footer">
    <a href="{{ projectData.url }}">Visit Website</a>
  </div>
</div>
