/* You can add global styles to this file, and also import other style files */
@import './mixins.scss';
html,
body {
  height: 100%;
  margin: 0px;
  router-outlet + * {
    // flex-basis: 80%;
    // position: relative;
  }
}
// setting nunito fonts for app
@font-face {
  font-family: 'Nunito-Regular';
  src: url('./assets/fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'Nunito-BlackItalic';
  src: url('./assets/fonts/Nunito-BlackItalic.ttf');
}
@font-face {
  font-family: 'Nunito-Light';
  src: url('./assets/fonts/Nunito-Light.ttf');
}
@font-face {
  font-family: 'Nunito-Black';
  src: url('./assets/fonts/Nunito-Black.ttf');
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url('./assets/fonts/Nunito-Bold.ttf');
}
@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url('./assets/fonts/Nunito-ExtraBold.ttf');
}
@font-face {
  font-family: 'Nunito-ExtraLight';
  src: url('./assets/fonts/Nunito-ExtraLight.ttf');
}
@font-face {
  font-family: 'Nunito-LightItalic';
  src: url('./assets/fonts/Nunito-LightItalic.ttf');
}
@font-face {
  font-family: 'Nunito-BoldItalic';
  src: url('./assets/fonts/Nunito-BoldItalic.ttf');
}
* {
  font-family: 'Nunito-Regular';
}
